
<button class="btn-primary" (click)="onAdd()">Add</button>
<button class="btn-default" (click)="loadCourses()">Load Courses</button>
<ul>
  <li
    style="padding: 1rem 0; text-decoration: none;"
    *ngFor="let clown of clowns; index as i; trackBy: trackClowns"
    >{{i}} - {{clown.name}}

    <button class="btn-danger" (click)="onRemove(clown)">Remove</button>
    <button class="btn-success" (click)="onChange(clown)">Update</button>
  </li>
</ul>


<!-- <h2 style="text-decoration: underline;">ngIf and change detection</h2>

<button class="btn-default" (click)="onAdd()">Add</button>
<ul>
  <li style="padding: 1rem 0;" *ngFor="let clown of clowns; index as i">{{i}} - {{clown.name}}
    <button class="btn-danger" (click)="onRemove(clown)">Remove</button>
    <button class="btn-success" (click)="onChange(clown)">Update</button>
  </li>
</ul>


<h2 style="text-decoration: underline;">ngSwitch</h2>

<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<h2 style="text-decoration: underline;">ngIf and ng-template</h2>

<div *ngIf="courses.length > 0; then coursesList else noCourses">

</div>

<ng-template #coursesList>
  List of Courses
  <ul>
    <li></li>
  </ul>
</ng-template>

<ng-template #noCourses>
  No Courses yet...
</ng-template> -->

<!--
<like
  [likesCount]="tweet.likesCount"
  [isActive]="tweet.isLiked"
></like>

<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some text was written here.</p>
  </div>
</bootstrap-panel>

<br/>
<br/>

<h1>Angular</h1>

<br/>
<br/>

<favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>

<br/>
<br/>

<img *ngIf="imageUrl" [src]="imageUrl" />
<button (click)="onClick()"></button>

<br/>
<br/>

<input type="text" [(ngModel)]="title">
<br/>
{{ title | titleCase }}

<br/>
<br/>

<courses></courses>

<br/>
<br/>

<authors></authors> -->
