
<bootstrap-panel>
  <div class="heading">Heading</div>
  <div class="body">
    <h2>Body</h2>
    <p>Some text was written here.</p>
  </div>
</bootstrap-panel>

<br/>
<br/>

<h1>Angular</h1>

<br/>
<br/>

<favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>

<br/>
<br/>

<img *ngIf="imageUrl" [src]="imageUrl" />
<button (click)="onClick()"></button>

<br/>
<br/>

<input type="text" [(ngModel)]="title">
<br/>
{{ title | titleCase }}

<br/>
<br/>

<courses></courses>

<br/>
<br/>

<authors></authors>
